.dub
docs.json
__dummy.html
docs/
/benchquark
benchquark.so
benchquark.dylib
benchquark.dll
benchquark.a
benchquark.lib
benchquark-test-*
*.exe
*.o
*.obj
*.lst
test.d
dmdtest.d
testdir/
.vscode/
dcd.conf
.gdb_history